* {
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
    background-color: rgb(251, 249, 249);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
   
    margin: 150px;
    align-items: center;
    width:80%
  }
  
 /* first detail  */
#page_details {

    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 50px;
   
}

/* second detail  */
#second {
  display: flex;
  border-bottom: 1px solid black;
  margin: 10px;
}

.element {
  flex: 1;
  margin: 5px;
  text-align: center;
}

/* third details  */
table,th, td {
  border:1px solid black;
  border-collapse: collapse;
  margin: 5px;
  padding-left : 10px;
  font-size: 15px;
}

#gst_detail  {
  width:99%;
  height: 150px;
  text-align: left;
 
}

#sal-det {
  width:99%;
  height: 150px;
  margin-top: 0;
  text-align: center;
  
}


/*  fourth details  */
#details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

 .det1,
.det2,
.det3,
.det4 {
  flex: 1;
  width: 25%;
  padding: 5px;
  padding-top: 10px;;
  box-sizing: border-box;
}

/*    other detals  */

#left-pannel {
  float: left;
  width: 40%; /* Adjust as needed */
  text-align: left;
}

#right-pannel {
  float: right;
  width: 43.79%; /* Adjust as needed */
  text-align: right;
}

.amt,
.amt-words,
.amt-credit,
.G-amt,
.discount,
.roundoff {
  margin: 0; /* Remove default margin */
}

/* Example styling for left and right panels */
#left-pannel {
  padding: 20px;
  
}

#right-pannel {
  padding: 20px;
 
}



/* fifth */

#fifth {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.left-detail {
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.dec-2 {
  align-items: left;
  width:375px;
}

.right-top {
  flex: 1;
  text-align: left;
  margin-left: 200px;
  font-size: 22px;
}

/* sixth */

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.powid {
  margin-bottom: 5px;
  font-size: 12px;;
}

.print-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
